.searchTitle {
  color: blue;
  font-weight: 500;
  text-align: center;
  font-size: 22px;
  margin-left: 5px;
}

.searchInput {
  width: 337px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 8px;
  padding-left: 12px;
  border-radius: 4px;
  font-size: 18px;
  border: 2px solid rgb(128, 128, 128);
  margin: 0 auto 30px;
}

::placeholder {
  color: rgba(14, 14, 14, 0.3);
}

@media only screen and (min-width: 768px) {
  .container {
    margin-top: 22px;
  }

  .searchInput {
    width: 330px;
  }
}
